<%inherit file="base_template.htm" />
<!DOCTYPE html>
<html>
<head>
    <title>About MyStuff</title>
</head>
<body>
<%block name="center">
  <h2>About MyStuff</h2>
We started as professors at traditional universities. We still are; we teach classes, we serve in our disciplines, we write textbooks, and we conduct research. We understand what it means to be academics.

<br>
<br>
Since becoming professors, we had watched textbook prices steadily increase even while publishing and distribution costs decreased.
<br>
<br>

We also realized the market for educational materials was shifting. Traditional textbooks were being enveloped by digital materials which offered much more convenience, flexibility, and dynamic content. More and more students were bringing laptops and tablets to school.
<br>
<br>

We decided to start new type of publishing company in 2010. We strive for textbooks that not only can be used at the world's best institutions, but also that can remain low cost. Further, we embed section-level videos, adaptive problem sets, and other technologies the modern web provides.

<br>
<br>
Come, and rediscover the textbook. We think you'll be pleased.
<br>
Our offices are located in the heart of the Rocky Mountains in Orem, Utah, USA. Please contact us by email regarding book adoption, textbook authorship, or other general questions.
</%block>  
</body>
</html>