<%inherit file="base_template.htm" />
<!DOCTYPE html>
<html>
<head>
    <title>Contact MyStuff</title>
</head>
<body>
<%block name="center">
  <h2>Contact Us</h2>
   We love to hear from you!
   <br>
<br>
<h3>Feedback</h3>
If you have any questions, comments, or ideas, let us know at info@myeducator.com.
<br>
<br>

<h3>Technical Support</h3>
If you are experiencing technical errors, please email support@myeducator.com.
<br>
<br>

<h3>Media</h3>
For any media or press enquiries, please contact us at press@myeducator.com.
<br>
<br>
<h4>MyEducator, Inc.
1475 W. Center Street
Orem, UT 84057</h4>
</%block>  
</body>
</html>